{% extends "base.html.twig" %}

{% block title %}Product
	{{id}}
{% endblock %}

{% block body %}
	<div class="flex justify-center items-center flex-row">
		<a href="/">
			<h1 class="my-10 lg:text-4xl text-6xl poppins-regular">{{placeholder}}</h1>
		</a>
	</div>

{% endblock %}
