<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}{% endblock %}
		</title>
		<link rel="icon" href="https://res.cloudinary.com/dq5exroyd/image/upload/f_auto,q_auto/sew2jsbo9ebselrflypx">
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Geologica:wght@100&display=swap" rel="stylesheet">


		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">


		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
		{% endblock %}
	</head>
	<body>
		<div class="flex justify-center items-center flex-row">
			<a href="/">
				<h1 class="my-10 lg:text-4xl text-4xl poppins-regular">{{"{{placeholder}}"}}</h1>
			</a>
		</div>

		{% block body %}{% endblock %}
		<footer class="xl:absolute xl:block hidden bottom-5 w-full text-center poppins-light text-3xl xl:text-sm">Powered by
			<a href="https://majkeloess.dev" target="_blank">majkeloess</a>
		</footer>

	</body>
</html>
